html, body {
    height: 100%;
}

body {
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(309deg, rgba(0,0,0,1) 0%, rgba(5,69,27,1) 26%, rgba(68,189,111,1) 100%);
    font-size: 2em;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#content div{
    margin: 1em;
}

#content form{
    margin: 1em;
    width:100%;
    display:flex;
    height: 2em;
}

#recently_added_delta_days {
    flex-grow: 3;
    height: 100%;
}

#submit {
    flex-grow: 1;
    height: 100%;
}


.underline {
    border-top: 10px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 10px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    margin: 0;
}
